#!/bin/python

import sys

def main():
    print("Number of arguemnts: %d" % len(sys.argv))
    print("Arguemnt List: %s" % str(sys.argv))
    
    sys.exit(1)
    
 if __name__ == "__main__":
     main()