<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
        <a href="webpages/macbookpage.html">
        <img src="https://i.ibb.co/V2vTBFS/ps5.jpg" alt="ps5" class="center" border="0">
        </a>
		<img src="https://i.ibb.co/kG0nxNP/macbook-pro-13-inch-2019.jpg" alt="macbook-pro-13-inch-2019" class="center" border="0">
        <img src="https://i.ibb.co/QKC2gPD/bush-led32127hdcntd-32-inch-hd-ready-smart-led-tv-71011698.jpg" alt="bush-led32127hdcntd-32-inch-hd-ready-smart-led-tv-71011698" class="center" border="0">
        <img src="https://i.ibb.co/n7wc9Zk/alexa.jpg" alt="alexa"class="center" border="0">
        <img src="https://i.ibb.co/KVrJw8m/air-jordan-11-bred-2019-shoebox-0.jpg" alt="air-jordan-11-bred-2019-shoebox-0" border="0">
        <script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Home</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main>
		<p>This is the home page. Users can see it without logging in.</p>
        <table>
            
            <tr><th>Item name</th><th>Image</th><th>Status</th><th>Seller details</th></tr>
            <tr><td>Fridge</td><td></td><td>Sold</td><td>Victor, 1234543</td></tr>
            
            
        </table>
		{{#if authorised}}
			<p><a href="/secure">secure page</a></p>
		{{/if}}
	</main>
	</body>
</html>
